.search-container {
  padding: 6px;
  margin-top: 8px;
  margin-right: 100px;
  background: rgb(255, 255, 255);
  font-size: 17px;

  border: none;
  cursor: pointer;
}
#inn {
  height: 30px;
  width: 90%;
}

#asd {
  font-family: Georgia, "Times New Roman", Times, serif;
}
